# Gradle metadata
.gradle/
build
# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.jar

# Gradle build output
build/

#Intellj Idea
.idea
bin
.DS_Store
target

# VSCode
.vscode
.settings
.classpath
.project

#Project
logs
.log
